src/main/resources/xsd/acrs/AMA_HotelGroupSearchRS - v2.006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by Shuvabrata (AMADEUS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xml.amadeus.com/ahp/rates" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ama="http://xml.amadeus.com/2010/06/Types_v3" xmlns:ota="http://www.opentravel.org/OTA/2003/05/OTA2011A" targetNamespace="http://xml.amadeus.com/ahp/rates" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="AMA_HotelRateAndTaxCommonTypesOTA2011A.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05/OTA2011A" schemaLocation="OTA/2011A/OTA_Proxy.xsd"/>
	<xs:import namespace="http://xml.amadeus.com/2010/06/Types_v3" schemaLocation="AMA/2015A/AMA_CommonTypes_Proxy.xsd"/>
	<xs:element name="AMA_HotelGroupSearchRS">
		<xs:annotation>
			<xs:documentation>Search response based on the request criterion</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="Success">
					<xs:annotation>
						<xs:documentation xml:lang="en">Standard way to indicate successful processing of an OpenTravel message. Returning an empty element of this type indicates success.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SuccessType">
								<xs:sequence>
									<xs:element name="Warnings" type="ama:WarningsType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Standard way to indicate successful processing message, but one in which warnings are generated.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="InventoryWeek" minOccurs="0">
										<xs:annotation>
											<xs:documentation>To be return on Search only</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="StartDate" type="xs:date" use="required">
												<xs:annotation>
													<xs:documentation>To be used with Search RS only. The Inventory week Start date of the Stay Over End Date as entered in the Search Criteria</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="EndDate" type="xs:date" use="required">
												<xs:annotation>
													<xs:documentation>To be used with Search RS only. The Inventory week End date of the Stay Over End Date as entered in the Search Criteria</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="Groups" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Group" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>This is a Group item. </xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Scope">
																<xs:complexType>
																	<xs:attributeGroup ref="GroupScopeType"/>
																	<xs:attribute name="GroupCode" use="required">
																		<xs:annotation>
																			<xs:documentation>The Group Code is 3 characters long and used along with Property code and ("Initial Start Date" or "External ID") to identify group.</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string"/>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="GroupInternalID" type="RatePlanCodeType" use="required">
																		<xs:annotation>
																			<xs:documentation>Internal Group ID create by the system and used to identify the group within AHP. My not not be accessible for other systems/channels. </xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="VersionNumber" type="VersionTimeStampType" use="required">
																		<xs:annotation>
																			<xs:documentation>Version number to prevent concurrent update.</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:complexType>
															</xs:element>
															<xs:element name="GroupPeriod">
																<xs:complexType>
																	<xs:attribute name="FirstArrivalDate" type="xs:date" use="required">
																		<xs:annotation>
																			<xs:appinfo>
																				<altova:exampleValues>
																					<altova:example value="2015-05-01"/>
																					<altova:example value="2015-04-01"/>
																				</altova:exampleValues>
																			</xs:appinfo>
																			<xs:documentation>Specify the Group start period</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="LastDepartureDate" type="xs:date" use="required">
																		<xs:annotation>
																			<xs:appinfo>
																				<altova:exampleValues>
																					<altova:example value="2015-06-01"/>
																					<altova:example value="2015-07-01"/>
																				</altova:exampleValues>
																			</xs:appinfo>
																			<xs:documentation>Specify the group End period</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:complexType>
															</xs:element>
															<xs:element name="Content">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Descriptions" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Include Group Description and Booking Procedure.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Description" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="FreeText" maxOccurs="unbounded">
																									<xs:annotation>
																										<xs:documentation>Depend on the Description Type the list is limited to 3 or 10 lines of description. Maximum 60 chars per line.</xs:documentation>
																									</xs:annotation>
																									<xs:complexType>
																										<xs:simpleContent>
																											<xs:extension base="xs:string"/>
																										</xs:simpleContent>
																									</xs:complexType>
																								</xs:element>
																							</xs:sequence>
																							<xs:attribute name="Type" type="xs:string" use="required">
																								<xs:annotation>
																									<xs:documentation>Define the Group description. Accepted values are: "GroupDescription" or "BookingProcedures"</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="InventoryReleaseType" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Indicate the Group unused inventory release type.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:attribute name="Date" type="xs:date">
																					<xs:annotation>
																						<xs:documentation>Date to release unused inventory</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																				<xs:attribute name="Days">
																					<xs:annotation>
																						<xs:documentation>Number of Days, prior to arrival, to start release unused inventory</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:int">
																							<xs:minInclusive value="0"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																				<xs:attribute name="Rolling" use="required">
																					<xs:annotation>
																						<xs:documentation>Specify the release method of unused group inventory. Yes =  Day by Day release, No = Release all at once.</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:boolean">
																							<xs:pattern value="false"/>
																							<xs:pattern value="true"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="GroupSecuritySetting" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>The security setting  use to either hide the Group or specific attribute from Reports. If not provided all Security setting should be set to "No" by the system.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:attribute name="IsExcludedFromGroupsList" use="required">
																					<xs:annotation>
																						<xs:documentation>Indicate if the Group excluded from Search Groups List.</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:boolean">
																							<xs:pattern value="false"/>
																							<xs:pattern value="true"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																				<xs:attribute name="IsRateSecuredFromSNB" use="required">
																					<xs:annotation>
																						<xs:documentation>Indicates if the Group’s Rates secured from shopping/booking.</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:boolean">
																							<xs:pattern value="false"/>
																							<xs:pattern value="true"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																				<xs:attribute name="IsRateSecuredFromReporting" use="required">
																					<xs:annotation>
																						<xs:documentation>Indicates if the Group’s Rates secured from reporting.  </xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:boolean">
																							<xs:pattern value="false"/>
																							<xs:pattern value="true"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																				<xs:attribute name="IsGroupDescriptionSecured" use="required">
																					<xs:annotation>
																						<xs:documentation>Indicates if the Group’s Description Secured from Groups List and Reports.</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:boolean">
																							<xs:pattern value="false"/>
																							<xs:pattern value="true"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																				<xs:attribute name="IsBookingProcedureSecured" use="required">
																					<xs:annotation>
																						<xs:documentation>Indicates if the Group Booking Procedures secured from Groups List and Reports.</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:boolean">
																							<xs:pattern value="false"/>
																							<xs:pattern value="true"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="RoomTypes" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>For each room type Define Flow-Through and (1) pricing per period and (2) AU and CT per period.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="RoomType" maxOccurs="unbounded">
																						<xs:annotation>
																							<xs:documentation>Room type element</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="Rate" minOccurs="0" maxOccurs="unbounded">
																									<xs:complexType>
																										<xs:attribute name="StartDate" type="xs:date" use="required">
																											<xs:annotation>
																												<xs:documentation>Period start Date</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																										<xs:attribute name="EndDate" type="xs:date" use="required">
																											<xs:annotation>
																												<xs:documentation>Period end date</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																										<xs:attribute name="RoomRate" use="required">
																											<xs:annotation>
																												<xs:documentation>Room rate for the given period.</xs:documentation>
																											</xs:annotation>
																											<xs:simpleType>
																												<xs:restriction base="xs:decimal">
																													<xs:minInclusive value="0"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:complexType>
																								</xs:element>
																								<xs:element name="GroupAllotment" minOccurs="0" maxOccurs="unbounded">
																									<xs:complexType>
																										<xs:attribute name="StartDate" type="xs:date" use="required">
																											<xs:annotation>
																												<xs:documentation>Period start Date</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																										<xs:attribute name="EndDate" type="xs:date" use="required">
																											<xs:annotation>
																												<xs:documentation>Period end date</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																										<xs:attribute name="GroupAllocated" use="required">
																											<xs:annotation>
																												<xs:documentation>Number of contracted (CT) rooms for the given period.</xs:documentation>
																											</xs:annotation>
																											<xs:simpleType>
																												<xs:restriction base="xs:int">
																													<xs:minInclusive value="0"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																										<xs:attribute name="GroupDeducted" use="required">
																											<xs:annotation>
																												<xs:documentation>Number of authorized (AU) rooms for the given period out of the contracted number of rooms.</xs:documentation>
																											</xs:annotation>
																											<xs:simpleType>
																												<xs:restriction base="xs:int">
																													<xs:minInclusive value="0"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																										<xs:attribute name="RoomSold">
																											<xs:annotation>
																												<xs:documentation>Number of room that actually booked by the group guests. Also known as RS.</xs:documentation>
																											</xs:annotation>
																											<xs:simpleType>
																												<xs:restriction base="xs:int">
																													<xs:minInclusive value="0"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																										<xs:attribute name="RoomAvailable">
																											<xs:annotation>
																												<xs:documentation>Rooms that actually booked by the group guests. Also known as RA.</xs:documentation>
																											</xs:annotation>
																											<xs:simpleType>
																												<xs:restriction base="xs:int">
																													<xs:minInclusive value="0"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																										<xs:attribute name="AvailableContracted">
																											<xs:annotation>
																												<xs:documentation>Rooms available against the contracted rooms	Also known as CT/RA.</xs:documentation>
																											</xs:annotation>
																											<xs:simpleType>
																												<xs:restriction base="xs:int">
																													<xs:minInclusive value="0"/>
																												</xs:restriction>
																											</xs:simpleType>
																										</xs:attribute>
																									</xs:complexType>
																								</xs:element>
																								<xs:element name="Alert" minOccurs="0" maxOccurs="unbounded">
																									<xs:annotation>
																										<xs:documentation>Indicates  which day/s the group has Inventory Alert.</xs:documentation>
																									</xs:annotation>
																									<xs:complexType>
																										<xs:simpleContent>
																											<xs:extension base="xs:string">
																												<xs:attribute name="Date" type="xs:date" use="required">
																													<xs:annotation>
																														<xs:documentation>Date alert exists on the Group.</xs:documentation>
																													</xs:annotation>
																												</xs:attribute>
																											</xs:extension>
																										</xs:simpleContent>
																									</xs:complexType>
																								</xs:element>
																							</xs:sequence>
																							<xs:attribute name="Code" type="RoomCodeType" use="required">
																								<xs:annotation>
																									<xs:documentation>Room Type Code</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="IsFlowThrough" type="xs:boolean">
																								<xs:annotation>
																									<xs:documentation>Indicates if FlowThrough applied to the specific room type.</xs:documentation>
																									<xs:appinfo>
																										<altova:exampleValues>
																											<altova:example value="false"/>
																											<altova:example value="true"/>
																										</altova:exampleValues>
																									</xs:appinfo>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="GroupOrganizerPolicies" type="GroupOrganizerPoliciesType" minOccurs="0"/>
																		<xs:element name="Policies">
																			<xs:annotation>
																				<xs:documentation>Define the Group policies. These policies applied for guest booking into the group.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Cancellation" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>Mandatory if Guarantee Required = "true".</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:attribute name="DaysPriorToArrival" use="required">
																								<xs:annotation>
																									<xs:documentation>Days prior to arrival cancellation fees applied.</xs:documentation>
																								</xs:annotation>
																								<xs:simpleType>
																									<xs:restriction base="xs:int">
																										<xs:minInclusive value="0"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																							<xs:attribute name="CancellationFee" type="xs:string" use="required">
																								<xs:annotation>
																									<xs:documentation>Can be either "FirstNight" if no Deposit defined or or "EqualToDeposit" if deposit defined.</xs:documentation>
																									<xs:appinfo>
																										<altova:exampleValues>
																											<altova:example value="FirstNight"/>
																											<altova:example value="EqualToDeposit"/>
																										</altova:exampleValues>
																									</xs:appinfo>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="Deposit" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>Optional deposit</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:attribute name="NumberOfNights" use="required">
																								<xs:annotation>
																									<xs:documentation>Number of nights required as deposit.</xs:documentation>
																								</xs:annotation>
																								<xs:simpleType>
																									<xs:restriction base="xs:int">
																										<xs:minInclusive value="1"/>
																									</xs:restriction>
																								</xs:simpleType>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																				<xs:attribute name="IsGuaranteeRequired" type="xs:boolean" use="required">
																					<xs:annotation>
																						<xs:appinfo>
																							<altova:exampleValues>
																								<altova:example value="false"/>
																								<altova:example value="true"/>
																							</altova:exampleValues>
																						</xs:appinfo>
																						<xs:documentation>If “false” guarantee information is not mandatory at the time of booking. If "true"  Guarantee Information is required at the time of booking.</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="PeriodsGuaranteeRequired" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Use to define periods based  Guarantee Required. </xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="PeriodGuaranteeRequired" maxOccurs="unbounded">
																						<xs:annotation>
																							<xs:documentation>Period Guarantee Required element.</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:attribute name="StartDate" type="xs:date" use="required">
																								<xs:annotation>
																									<xs:documentation>Period Guarantee Required Start Date.  limited to Group First Arrival Date.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="EndDate" type="xs:date" use="required">
																								<xs:annotation>
																									<xs:documentation>Period Guarantee Required Start Date. Limited to Group Last Departure Date.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="IsGuaranteeRequired" type="xs:boolean">
																								<xs:annotation>
																									<xs:documentation>If “false” guarantee information is not mandatory at the time of booking. If "true"  Guarantee Information is required at the time of booking.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="CorporateData" minOccurs="0">
																			<xs:complexType>
																				<xs:attribute name="CorporateID" type="CorporateID_Type" use="required">
																					<xs:annotation>
																						<xs:documentation>Corporate ID associate with the Group.</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																				<xs:attribute name="IsRateVisible" use="required">
																					<xs:annotation>
																						<xs:documentation>Available only when Corporate ID associate with the Group. It indicates whether the rate is viewable or hidden to the requester during SnB process.</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:boolean">
																							<xs:pattern value="false"/>
																							<xs:pattern value="true"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="StayRestrictions" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Restriction Element. </xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="StayRestriction" maxOccurs="unbounded">
																						<xs:complexType>
																							<xs:choice>
																								<xs:element name="LOS" maxOccurs="unbounded">
																									<xs:annotation>
																										<xs:documentation>LOS element. Min, Max or Both must be defined in order for the LOS Element to exists. Should be limited to Max 2 LOS elements.</xs:documentation>
																									</xs:annotation>
																									<xs:complexType>
																										<xs:attribute name="MinimumNights" type="xs:positiveInteger">
																											<xs:annotation>
																												<xs:documentation>System allow defining Minimum or Maximum only.</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																										<xs:attribute name="MaximumNights" type="xs:positiveInteger">
																											<xs:annotation>
																												<xs:documentation>System allow defining Minimum or Maximum only.</xs:documentation>
																											</xs:annotation>
																										</xs:attribute>
																									</xs:complexType>
																								</xs:element>
																								<xs:element name="CTA" type="xs:string">
																									<xs:annotation>
																										<xs:documentation>when tag exists it mean the defined period is Close To Arrival (CTA)</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:choice>
																							<xs:attribute name="StartDate" type="StartDateType" use="required">
																								<xs:annotation>
																									<xs:documentation>Start date of the defined restriction.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="EndDate" type="EndDateType" use="required">
																								<xs:annotation>
																									<xs:documentation>End date of the defined restriction.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="GroupReferenceData" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Group Reference data refer to data used for the group creation but is not part of the group. Return only when GroupReferenceData defined in the Search request.</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:attribute name="GroupRatePlanCode" type="RatePlanCodeType">
																					<xs:annotation>
																						<xs:documentation>The Rate Plan code used in the Group creation process.</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																				<xs:attribute name="cfNumber" type="xs:string">
																					<xs:annotation>
																						<xs:documentation>Refers to Group Organizer’s contact and payment information in reservation.</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																				<xs:attribute name="MeetingRoomIncluded">
																					<xs:annotation>
																						<xs:documentation>Indicate if meeting space was requested.</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="xs:boolean">
																							<xs:pattern value="true"/>
																							<xs:pattern value="false"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:attribute>
																				<xs:attribute name="AgencyId" type="xs:string">
																					<xs:annotation>
																						<xs:documentation>Travel agency ID.</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																				<xs:attribute name="AgencyType" type="xs:string">
																					<xs:annotation>
																						<xs:documentation>Type of Travel Agency (i.e.: "IATA", "SGA" or "ABTA").</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="DailySummaryGroupData" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Contain rate and allocation daily summary information. Return only when DailySummaryGroupData specified in the search request. </xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="DailyData" maxOccurs="unbounded">
																						<xs:annotation>
																							<xs:documentation>Daily summary element.</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:attribute name="Date" type="xs:date" use="required">
																								<xs:annotation>
																									<xs:documentation>Record date.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="TotalRoomAllocatedCount" type="xs:int">
																								<xs:annotation>
																									<xs:documentation>Daily total contracted (CT) rooms.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="TotalRoomDeductedCount" type="xs:int">
																								<xs:annotation>
																									<xs:documentation>Daily total authorized (AU) rooms.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="TotalRoomSoldCount" type="xs:int">
																								<xs:annotation>
																									<xs:documentation>Daily total sold rooms.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="HighestRoomRate" type="xs:decimal">
																								<xs:annotation>
																									<xs:documentation>Daily highest room rate among all contracted rooms types.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="LowestRoomRate" type="xs:decimal">
																								<xs:annotation>
																									<xs:documentation>Daily lowest room rate among all contracted rooms types.</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="PriceReferenceData" type="PriceReferenceType" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>The code of the Price Grid or Rate Plan used to copy prices to the Group contract.</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="GroupName" use="required">
																		<xs:annotation>
																			<xs:documentation>Mandatory for creation. if Group Associate with Corporate ID the name set by the system and cannot be modified. Limited by Admin UI to 20 characters long.</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:minLength value="1"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="IsCommissionable" use="required">
																		<xs:annotation>
																			<xs:documentation>Define if the group is commissnable or not.</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:boolean">
																				<xs:pattern value="false"/>
																				<xs:pattern value="true"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="ExtraPersonCharge">
																		<xs:annotation>
																			<xs:documentation>Define guests booking into the group are subject to extra person charge. </xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:decimal">
																				<xs:minInclusive value="0"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="IsHousing" use="required">
																		<xs:annotation>
																			<xs:documentation>Indicates if group booking is limited to the hotel associated with the group or accepted from any hotel or reservation office.</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:boolean">
																				<xs:pattern value="true"/>
																				<xs:pattern value="false"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="HasAlert">
																		<xs:annotation>
																			<xs:documentation>Indicates if group has an Inventory Alert.</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:boolean">
																				<xs:pattern value="true"/>
																				<xs:pattern value="false"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="Currency" type="xs:string">
																		<xs:annotation>
																			<xs:documentation>Group rates currency code. Return only when DailySummaryGroupData specified in the search request</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="LastModifiedDateTime" type="xs:dateTime">
																		<xs:annotation>
																			<xs:documentation>Timestamp of the last modification (create or update) on the group. *Note: only for version 2.001 or later</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attributeGroup ref="GroupTagsGroup"/>
																	<xs:attributeGroup ref="GroupStatusGroup"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attributeGroup ref="SearchResultGroup"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Failure">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Warnings" type="ama:GenericWarningsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Standard way to indicate Failure to process a message which has warnings generated.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Errors" type="ama:GenericErrorsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>A collection of errors that occurred during the processing of a message.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
			<xs:attribute name="SearchMode" use="required">
				<xs:annotation>
					<xs:documentation>This determines the type of search and the amount of information returned in the response</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="Summary"/>
							<altova:example value="Detail"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
